.cusbtn
{
    padding:10px;
    border:none;
    color:red;
    background-color:green;
    transition-duration:300ms;
}

.cusbtn:hover{
    transform:rotate(50deg);
    transition-duration:300ms;
}
*
{
    margin:0 auto;
    padding:0;
}
.mymodal
{
    width:500px;
    height:200px;
    background-color:rgba(0,0,0,0.5);
    color:white;
    text-align: center;
    box-shadow:2px 5px 10px black;
    padding:10px;
    border-radius: 10px;
    display: none;
    
}
.close
{
    color:white;
    background-color:red;
    padding:5px;
    border:none;
    position:absolute;
    margin: -90px 8px 12px 121px;
}



