* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  color: black;
}
.footer {
  display: flex;
  margin: 0 10px;
  background-color: rgb(155, 69, 69);
  font-weight: 800;
}
.footer-item {
  padding: 20px 30px;
  list-style: none;
}
.panel{
  height: 500px;
  width: 500px;
  border: 7px solid black;
}
.text-panel{
  height: 500px;
  width: 500px !important;
  border: 7px solid black;
  margin-left: 10px;
}
.font{
  margin-left: 159px !important;
}