*{
    font-family: Arial, Helvetica, sans-serif;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh ;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px; 
    z-index: 1 ;
}
.carousel-caption h5{
    font-size: 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-light .navbar-brand{
    font-size: 25px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color:#000
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh !important;
}
.section-header h2{
    text-shadow: 15px 15px 15px rgba(0,0,0,0.15);
}
.service .card-body i{
    font-size: 50px;
}
.portfolio .card{
    box-shadow: 15px 15px 15px rgba(0,0,0,0.15);
}
.contact{
    background: linear-gradient(380deg, #FFE77AFF 55%,  #2C5F2DFF 0%);
}
.contactus{
    color: white;
}
@media only screen and (min-width:768px) and (max-width:991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
  
}
@media only screen and (max-width:767px)
{
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
         padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height:1.6;
        font-size: 12px;
    }
    .card{
        margin-bottom: 30px;
    }
    .img-area img{
       width: 100%;
    }
}
#reg{
  color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
  margin-top: 50px;
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}

#signin{
 height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); 
}
.account {
  font-size: 12px;
}
.login {
  margin-bottom: 118px;
  margin-top: 90px;
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
}

.login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.login form {
  font-size: 20px;
}

.login form .form-group {
  margin-bottom: 12px;
}

.login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}